header {
    display: flex;
    position: relative;
    height: 10rem;
    background: rgb(0, 80, 229);
}

header img {
    display: inline;
    height: 10rem;
    margin: 10px 25px;
    transform: scale(1.2);
}

.paginas {
    display: flex;
}

.paginas ul {
    display: flex;
}

.paginas ul li {
    display: flex;
    flex-direction: column;
    margin: 2rem 2rem;
    font-size: 1.5rem;
    background: transparent;
    color: aliceblue;
    cursor: pointer;
}

.paginas ul li a {
    display: flex;
    background: rgb(29, 108, 255);
    color: aliceblue;
    text-decoration: none;
    padding: 15px;
    border: 2px solid black;
    border-radius: 0 20px 0 20px;
    font-weight: 600;
    transition: all 1s;
    box-shadow: 5px 5px 10px 0 #000;
}

.paginas ul li a:hover {
    background: rgb(7, 75, 200);
    transform: scale(1.1);
}

/* Fim do header e inicio do main*/


.formulario {
    color: #fff;
    background:rgb(0, 80, 229);
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 12px;
    margin: 50px 12px 0 12px;
    width: 96.8%;
    border: #000 solid 3px;
}

.input-categoria {
    height: 25px;
    width: 18rem;
}

.botao-categoria {
    padding: 5px;
    border-radius: 5px;
}

.categoriaSalvas {
    border: #000 solid 4px;
    padding: 12px;
    width: 96.8%;
    margin: 28px 12px;
    background: rgb(0, 80, 229);
}

.tabela {
    font-size: 25px;
    background: white;
}

.tabela th {
    border: #000 solid 3px;
    font-weight: 550;
    font-size: 26px;
}

.tabela .conteudo-tabela {
    border: #000 solid 2px;
    padding: 10px;
    width: 130vh;
}

.td-opcoes {
    border: #000 solid 2px;
    padding: 10px;
    width: 65vh;
    text-align: center;
}

.fa-solid {
    margin: 0 50px;
}

/* css do footer*/

footer {
    background: rgb(0, 80, 229);
    position: relative;
    height: 10vh;
    width: 100%;
}

.copy {
    color: #fff;
    font-size: 22px;
    text-align: center;
    padding: 25px 0 0 0;
}